body {
  min-height: 100vh;
  background-color: rgba(165, 21, 153, 0.959);
}
.sidebar {
  height: 150%;
  width: 15%;
  background-color: black;
  color: rgb(163, 152, 152);
  position: absolute;
  font-size: medium;
}
p:hover,
i:hover {
  background-color: rgb(58, 53, 53);
  color: white;
}
.spotify-logo {
  height: 50px;
}
.text-spotify {
  font-size: x-large;
}
.bi-side {
  font-size: x-large;
  font-style: normal;
}
.text-home {
  font-size: medium;
}
.bi-playlist {
  border: gray;
  font-style: normal;
}
.bi-liked {
  color: rgb(163, 152, 152);
  font-style: normal;
}
.hr {
  background-color: white;
}
.second-part-text {
  color: gray;
  overflow-y: scroll;
  max-height: 400px;
}
.bi-person {
  margin-left: 80px;
}
.bi-person2 {
  margin-left: 89px;
}
.bi-arrow {
  border-color: gray;
}
.arrow1 {
  position: absolute;
  color: white;
  font-size: 40px;
  top: 0;
  left: 370px;
}
.arrow2 {
  position: absolute;
  color: rgb(63, 56, 56);
  font-size: 40px;
  top: 0;
  left: 450px;
}

.photo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.praBoh {
  margin-top: 150px;
  margin-left: 10px;
  color: white;
}
.button.play {
  content: "";
  width: 0;
  height: 0;

  top: 0;
  bottom: 0;
  right: 0;
  left: 1px;
  margin: auto;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: green green green white;
  border-radius: 40%;
}
.bi-heart {
  position: absolute;
  top: 25px;
}
.dote {
  margin-left: 50px;
  color: gray;
}
.clock {
  display: flex;
}
