body {
  background: rgb(18, 18, 18);
}
.wraping {
  display: flex;
}
.sidebar {
  background-color: black;
  color: rgb(163, 152, 152);

  font-size: medium;
  width: 300px;
}
.inside-sidebar {
  margin: 10px 10px;
  font-size: small;
}
.photoalbum {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: blue;
}
.colongrid {
  display: flex;
  flex-direction: column;
  color: white;
}
.first {
  width: 100%;
  height: 298px;

  background: rgb(75, 28, 60);
  background: linear-gradient(
    0deg,
    rgba(75, 28, 60, 1) 34%,
    rgba(158, 55, 128, 1) 100%
  );
}
.second {
  width: 100%;
  height: 150px;
  background: rgb(39, 21, 35);
  background: linear-gradient(
    0deg,
    rgba(39, 21, 35, 1) 8%,
    rgba(64, 23, 53, 1) 43%
  );
}
.third {
  color: white;
  width: 100%;
  height: 500px;
  flex-grow: 2;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 3%,
    rgba(32, 20, 30, 1) 47%
  );
}
.navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}
.arrow {
  font-size: 25px;
}
.profile {
  width: 140px;
  display: flex;
  height: 30px;
  background-color: black;
  align-items: center;
}
.profile-pic {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.img-profile {
  border-radius: 100%;
}
.bohemain {
  display: flex;
  margin: 20px 20px;
}
.bohemain-para {
  align-self: flex-end;
  margin-left: 20px;
}
.play-btn {
  display: flex;
  margin: 20px 20px;
  align-items: center;
  margin-bottom: 0px;
}
.btn-btn {
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-heart {
  margin-left: 20px;
  font-size: 25px;
}
.play-dot {
  margin-left: 20px;
  font-size: 30px;
}
.title {
  display: flex;
  margin: 10px 35px;
  color: white;
  padding-top: 20px;
  justify-content: space-between;
}
hr {
  background-color: rgb(78, 73, 73);
  margin: 0px 20px;
}
.wrapping-third {
  margin: 10px 35px;
}

.line-first {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.line-carrier {
  display: flex;
  line-height: 6px;
  align-self: center;
}
.line-para {
  align-self: center;
}

p:hover,
i:hover {
  background-color: rgb(58, 53, 53);
  color: white;
}
.spotify-logo {
  height: 40px;
  margin-left: 6px;
}
.text-spotify {
  font-size: x-large;
}
.home-search-library {
  display: flex;
  flex-direction: column;
}
.bi-side {
  font-size: medium;
  font-style: normal;
}
.text-home {
  font-size: small;
  margin-left: 12px;
}
.playlist-liked {
  display: flex;
  flex-direction: column;
  font-size: small;
}
.bi-playlist {
  display: flex;
  border: gray;
  font-style: medium;
}
.bi-liked {
  color: rgb(163, 152, 152);
  font-style: normal;

  font-size: medium;
}
.span-like {
  margin-left: 12px;
}
.hr {
  background-color: white;
}
.second-part-text {
  color: gray;

  max-height: 400px;
}
.bi-person {
  margin-left: 80px;
}
.bi-person2 {
  margin-left: 89px;
}
.bi-arrow {
  border-color: gray;
}
