/* body {
  min-height: 100vh;
} */
.sidebar {
  height: 100%;
  width: 15%;
  background-color: black;
  color: rgb(163, 152, 152);
  position: absolute;
  font-size: medium;
}
p:hover,
i:hover {
  background-color: rgb(58, 53, 53);
  color: white;
}
.spotify-logo {
  height: 50px;
}
.text-spotify {
  font-size: x-large;
}
.bi-side {
  font-size: x-large;
  font-style: normal;
}
.text-home {
  font-size: medium;
}
.bi-playlist {
  border: gray;
  font-style: normal;
}
.bi-liked {
  color: rgb(163, 152, 152);
  font-style: normal;
}
.hr {
  background-color: white;
}
.second-part-text {
  color: gray;
  overflow-y: scroll;
  max-height: 400px;
}
.bi-person {
  margin-left: 80px;
}
.bi-person2 {
  margin-left: 89px;
}
.bi-arrow {
  border-color: gray;
}
.center-container {
  margin-left: 345px;
  margin-right: auto;
}

.goodmorning {
  background-color: blue;
}
.second-line {
  background-color: red;
}
