.spotify-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify-h1 {
  font-weight: 700;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-applebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
}
.btn1 {
  background-color: rgb(41, 41, 194);
  color: white;
  width: 600px;
  height: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.btn2 {
  background-color: black;
  color: white;
  width: 600px;
  height: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.sign-img {
  border-radius: 50%;
}
.username {
  height: 50px;
  width: 600px;
}
.password {
  height: 50px;
  width: 600px;
}
